### Node
node_modules/

out/
dist/

### Editor
workspace.code-workspace

### Testing
__tests__/
coverage/


/.idea/automizer-data.iml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
